*.suo
*.user
*.dbml.layout
*.dbml
_ReSharper.Huffelpuff
Database.cs
*Plugin/bin/*
obj/
Huffelpuff/bin/plugins/*
Huffelpuff/bin/*.pdb
Huffelpuff/bin/*.dll
Huffelpuff/bin/*.so
Huffelpuff/bin/*.exe
Huffelpuff/bin/*.manifest
Huffelpuff/bin/*.config
Huffelpuff/bin/root.pi-cert
Huffelpuff/bin/*.s3db
Huffelpuff/bin/aiml/*
Huffelpuff/bin/config/*
