<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Huffelpuff.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" />
  </startup>
  <applicationSettings>
    <Huffelpuff.Properties.Settings>
      <setting name="UpdateURL" serializeAs="String">
        <value>http://update.apophis.ch/huffelpuff.xml</value>
      </setting>
      <setting name="PluginsURL" serializeAs="String">
        <value>http://update.apophis.ch/huffelpuff-plugins.xml</value>
      </setting>
    </Huffelpuff.Properties.Settings>
  </applicationSettings>
</configuration>
