<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Huffelpuff.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Huffelpuff.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" />
  </startup>
  <applicationSettings>
    <Huffelpuff.Properties.Settings>
      <setting name="UpdateURL" serializeAs="String">
        <value>http://update.apophis.ch/huffelpuff.xml</value>
      </setting>
      <setting name="PluginsURL" serializeAs="String">
        <value>http://update.apophis.ch/huffelpuff-plugins.xml</value>
      </setting>
    </Huffelpuff.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <Huffelpuff.Properties.Settings>
      <setting name="Logger" serializeAs="String">
        <value>console</value>
      </setting>
      <setting name="LogLevel" serializeAs="String">
        <value>Trace</value>
      </setting>
      <setting name="Verbosity" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Botmaster" serializeAs="String">
        <value>Apophis</value>
      </setting>
      <setting name="Nick" serializeAs="String">
        <value>Helga</value>
      </setting>
      <setting name="Username" serializeAs="String">
        <value>Helga</value>
      </setting>
      <setting name="Realname" serializeAs="String">
        <value>IRC Bot</value>
      </setting>
      <setting name="Server" serializeAs="String">
        <value>ch.pirateirc.net</value>
      </setting>
      <setting name="Port" serializeAs="String">
        <value>6667</value>
      </setting>
      <setting name="ServerPass" serializeAs="String">
        <value />
      </setting>
      <setting name="Channel" serializeAs="String">
        <value>#test</value>
      </setting>
      <setting name="NickServPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="ProxyServer" serializeAs="String">
        <value />
      </setting>
      <setting name="ProxyPort" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ProxyUser" serializeAs="String">
        <value />
      </setting>
      <setting name="ProxyPass" serializeAs="String">
        <value />
      </setting>
      <setting name="ExternalIP" serializeAs="String">
        <value />
      </setting>
    </Huffelpuff.Properties.Settings>
  </userSettings>
</configuration>
