<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Plugin.Properties.TwitterSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Plugin.Properties.TwitterSettings>
            <setting name="TweetFormat" serializeAs="String">
                <value />
            </setting>
            <setting name="TwitterConsumerKey" serializeAs="String">
                <value>yRaZB2ljtZ1ldg84Uvu4Iw</value>
            </setting>
            <setting name="TwitterConsumerSecret" serializeAs="String">
                <value>26SPIqzqcfQZPsgchKipqWLX3bCGu7vw0JaAUghuKs</value>
            </setting>
        </Plugin.Properties.TwitterSettings>
    </userSettings>
</configuration>