<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*"
		Name="Huffelpuff Bot"
		Language="1033"
		Version="1.0.0.0"
		UpgradeCode="DD8C8A8F-EF67-48AC-BB7E-BB952D8D4B4B"
		Manufacturer="apophis.ch">
		<Package Description="Huffelpuff IRC Bot Installer"
			Comments= "Comments"
			InstallerVersion="200"
			Compressed="yes"
		/>
	</Product>
</Wix>
